body {
  margin: 0;
  background: linear-gradient(135deg, #0b0b0c, #2b0f3b);
  font-family: 'Rubik', system-ui, sans-serif;
  color: #eaeaea;
  font-weight: 600;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.a-container {
  width: 100%;
  max-width: 1200px;   /* pantallas grandes */
  padding: 0 1rem;     /* celular */
}